<!doctype html>
<html lang="en">

<head>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Regions', 'Sites'],
          ['Cairo',     11],
          ['Giza',      2],
          ['Alex',  2],
          ['Delta', 2],
          ['Upper',    7]
        ]);

        var options = {
          title: 'Rollout'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart1);

      function drawChart1() {

        var data1 = google.visualization.arrayToDataTable([
          ['Regions', 'Sites'],
          ['Cairo',     11],
          ['Giza',      2],
          ['Alex',  2],
          ['Delta', 2],
          ['Upper',    7]
        ]);

        var options1 = {
          title: 'Rollout'
        };

        var chart1 = new google.visualization.ColumnChart(document.getElementById('colchart'));

        chart1.draw(data1, options1);
      }


    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='icon' href='../static/img/favicon.ico' type='image/x-icon' />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    
    <title>Dashboard</title>

</head>

<body>
    
    <div class="container-fluid">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">RO PLATFORM</a>
            <div class="spinner-border text-light" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="">
                <h3 style="color: white">Dashboard</h3>
            </div>
            
            <form class="form-inline">
                <button onclick="window.location.href='/logout/'" name="logout" class="btn btn-outline-warning my-2 my-sm-0" type="button">Logout</button>
                <a href="https://web.vodafone.com.eg/en/home" target="_blank"><img src="../static/img/logo.png" width="60" height="45" class="d-inline-block align-top" alt="vf"></a>
            </form>
        </nav>
    </div>
    
    <!--nav bar End-->


    <!--Main Row which is the full screen container-->
    
    <div class="row">
        <div class="col-12">

            <!--the row which holds the rest of the screen content (core content)-->
            
            <div class="row">
                <div class="col-2">
                    <div class="container-fluid">
                        <div class="list-group">
                            <button type="button" class="list-group-item list-group-item-action" disabled>Welcome {{username}}</button>
                            <button type="button" onclick="window.location.href='/under_construction/'" class="list-group-item list-group-item-action">Dashboard</button>
                            <button type="button" onclick="window.location.href='/under_construction/'" class="list-group-item list-group-item-action">Query</button>
                            <button type="button" onclick="window.location.href='/under_construction/'" class="list-group-item list-group-item-action">Technical Plan</button>
                            <button type="button" onclick="window.location.href='/under_construction/'" class="list-group-item list-group-item-action">Integration Quota</button>
                            <button type="button" onclick="window.location.href='/site_history/'" class="list-group-item list-group-item-action">Site History</button>
                            <button type="button" onclick="window.location.href='/contract_renegotiation/'" class="list-group-item list-group-item-action">Contract Renegotiation</button>
                            <button type="button" onclick="window.location.href='/site_continuity_risk/'" class="list-group-item list-group-item-action">Site Continuity</button>
                            <button type="button" onclick="window.location.href='/pki/'" class="list-group-item list-group-item-action">PKI Search/Add</button>
                            <button type="button" onclick="window.location.href='/under_construction/'" class="list-group-item list-group-item-action">Smart Check-List</button>
                            <button type="button" onclick="window.location.href='/under_construction/'" class="list-group-item list-group-item-action">Contractor Evaluation</button>
                            <button type="button" onclick="window.location.href='/under_construction/'" class="list-group-item list-group-item-action">Contractor Allocation</button>
                            <button type="button" onclick="window.location.href='/under_construction/'" class="list-group-item list-group-item-action">Field Planning</button>
                            <button type="button" onclick="window.location.href='/under_construction/'" class="list-group-item list-group-item-action">RCA Acceptance</button>
                            <button type="button" onclick="window.location.href='/nfm_crca/'" class="list-group-item list-group-item-action">RCA NFM</button>
                            <button type="button" onclick="window.location.href='/civil_tech/'" class="list-group-item list-group-item-action">Civil Technical Office</button>
                            <button type="button" onclick="window.location.href='/under_construction/'" class="list-group-item list-group-item-action">Unified PWR DB</button>
                        </div>
                    </div>
                </div>
                
                <!--core content section-->

                <div class="col-10">
                    
                    <div class="row">
                        <div id="piechart" style="width: 700px; height: 400px;"></div>
                        <div id="colchart" style="width: 700px; height: 400px;"></div>
                    

                    </div>
                    
                </div>
            
            </div>
        </div>
        
        <!--core content End-->
    
    </div>

    <!--<div class="container-fluid">
        <nav class="navbar navbar-dark bg-danger">
            <h6 style="color: white">RO Development Team.</h6>
        </nav>
    </div>-->
    
    <!--full screen container END-->

    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    
    <!--custom jquery-->
    
    <script src="../static/jquery/jquery.js"></script>
    <script>
        $(window).on("load", function () {
            $(".spinner-border").fadeOut("slow")
        });
    </script>

    <!--custom jquery END-->

</body>

</html>