<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='icon' href='../static/img/favicon.ico' type='image/x-icon' />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    
    <title>RO - Site History (Civil)</title>

</head>

<body>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <nav class="navbar navbar-dark bg-dark">
                    <a class="navbar-brand" href="http://10.231.224.81:8000/main_man/">RO PLATFORM</a>
                    <div class="spinner-border text-light" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="">
                        <h3 style="color: white">Site History - Civil</h3>
                    </div>
                    
                    <form class="form-inline">
                        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Logout</button>
                        <a href="https://web.vodafone.com.eg/en/home" target="_blank"><img src="../static/img/logo.png" width="60" height="45" class="d-inline-block align-top" alt="vf"></a>
                    </form>
                </nav>
            </div>
        </div>
    </div>
    <!--nav bar End-->
<!--------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!--Main Row which is the full screen container-->
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <!--------------Side Menu START-------------->
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action" disabled><img src="{{avatar}}" alt="Avatar" class="avatar" style="width: 50px; height: 50px; border-radius: 50%;">{{username}}</button>
                    <button type="button" onclick="window.location.href='/dashboard/'" class="list-group-item list-group-item-action" disabled>Dashboard</button>
                    <button type="button" onclick="window.location.href='/query/'" class="list-group-item list-group-item-action" disabled>Query</button>
                    <button type="button" onclick="window.location.href='/tp/'" class="list-group-item list-group-item-action" disabled>Technical Plan</button>
                    <button type="button" onclick="window.location.href='/int_quota/'" class="list-group-item list-group-item-action" disabled>Integration Quota</button>
                    <button type="button" onclick="window.location.href='/site_history/'" class="list-group-item list-group-item-action active"><strong>Site History</strong></button>
                    <button type="button" onclick="window.location.href='/contract_renegotiation/'" class="list-group-item list-group-item-action">Contract Renegotiation</button>
                    <button type="button" onclick="window.location.href='/site_continuity_risk/'" class="list-group-item list-group-item-action">Site Continuity</button>
                    <button type="button" onclick="window.location.href='/pki/'" class="list-group-item list-group-item-action">PKI Search/Add</button>
                    <button type="button" onclick="window.location.href='/scl/'" class="list-group-item list-group-item-action" disabled>Smart Check-List</button>
                    <button type="button" onclick="window.location.href='/cont_eval/'" class="list-group-item list-group-item-action" disabled>Contractor Evaluation</button>
                    <button type="button" onclick="window.location.href='/cont_alloc/'" class="list-group-item list-group-item-action" disabled>Contractor Allocation</button>
                    <button type="button" onclick="window.location.href='/field_plan/'" class="list-group-item list-group-item-action" disabled>Field Planning</button>
                    <button type="button" onclick="window.location.href='/rca_acc/'" class="list-group-item list-group-item-action" disabled>RCA Acceptance</button>
                    <button type="button" onclick="window.location.href='/rca_nfm/'" class="list-group-item list-group-item-action" disabled>RCA NFM</button>
                    <button type="button" onclick="window.location.href='/civ_tech_off/'" class="list-group-item list-group-item-action" disabled>Civil Technical Office</button>
                    <button type="button" onclick="window.location.href='/uni_pwr/'" class="list-group-item list-group-item-action" disabled>Unified PWR DB</button>
                </div>
                <!--------------Side Menu END-------------->
            </div>
            <div class="col-sm-10">
                <!-----------Core Content START------------>
                <br>
                <!--Search button-->

                <form method="POST" class="form-inline"> {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Site ID" aria-label="Recipient's username"
                        aria-describedby="button-addon2" style="max-width: 20rem;" name="site_id">
                        <div class="input-group-append">
                            <button name="single_search" class="btn btn-outline-primary" type="submit" id="button-addon2">Search</button>
                        </div>
                    </div>
                </form>
                {% if pwr_site_search == "incorrect" %}
                <!--site not found msg-->
                <div class="alert bg-danger text-white alert-dismissible fade show" role="alert">
                    <strong>Error!</strong> Site not found.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif  %}
                
                {% if region_search_msg == "incorrect" %}
                <!--Site region error message-->
                <div class="alert bg-danger text-white alert-dismissible fade show" role="alert">
                    <strong>Error!</strong> Wrong Region, please try another site within your Region.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif  %}

                <!--tabs section-->

                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                            aria-controls="pills-home" aria-selected="true">General Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                            aria-controls="pills-profile" aria-selected="false">Civil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                            aria-controls="pills-contact" aria-selected="false">Power</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <!-----------General Content START------------>
                        <div class="row">
                            <div class="col-sm-8">
                                
                                <br>                                
                                <form method="POST">	{% csrf_token %}
                                    <div class="form-group row">
                                        <label for="colFormLabel" class="col-sm-2 col-form-label">SiteID</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="colFormLabel" placeholder="{{site_id}}" disabled>
                                        </div>
                                        <label for="colFormLabel" class="col-sm-2 col-form-label">Option</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="colFormLabel" placeholder="{{option}}" disabled>
                                        </div>
                                        <label for="colFormLabel" class="col-sm-2 col-form-label">Region</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="colFormLabel" placeholder="{{region}}" disabled>
                                        </div>
                                        <label for="colFormLabel" class="col-sm-2 col-form-label">Roof-Top /Green-Field</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="colFormLabel" placeholder="{{RT_GF}}" disabled>
                                        </div>
                                        <label for="colFormLabel" class="col-sm-2 col-form-label">Power Vendor</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="colFormLabel"
                                                placeholder="{{site_vendor}}" disabled>
                                        </div>

                                    </div>
                                </form>
                            </div>
                                
                            <div class="col-sm-4">
                                <br>
                                <div class="mapouter">
                                    <div class="gmap_canvas"><iframe width="500" height="750" id="gmap_canvas"
                                            src="{{map}}" frameborder="0" scrolling="no" marginheight="0"
                                            marginwidth="0"></iframe><a
                                            href="https://www.embedgooglemap.net/blog/elementor-review/">elementor pro
                                            pack</a></div>
                                    <style>
                                        .mapouter {
                                            position: relative;
                                            text-align: right;
                                            height: 750px;
                                            width: 500px;
                                        }

                                        .gmap_canvas {
                                            overflow: hidden;
                                            background: none !important;
                                            height: 750px;
                                            width: 500px;
                                        }
                                    </style>
                                </div>
                                <br>
                                <!--Admin Section Start-->

                                <h5>Admin Controls</h5>
                                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" name="myfile" class="custom-file-input" id="file_input"
                                                oninput="input_filename();" accept="excel/*" required>
                                            <label class="custom-file-label" for="file_input" name="myfile"
                                                id="file_input_label">
                                                Select file
                                            </label>
                                        </div>
                                    </div>
                                    <button class="btn btn-outline-primary my-2 my-sm-2" name="crq_update" type="submit">
                                        Update Database
                                    </button>
                                    {% if risk_msg == "submit" %}
                                    <!--Submitted serial-->
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <strong>Success!</strong> Database is updated successfully.
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    {% elif risk_msg == "exist" %}
                                    <!--Error-->
                                    <div class="alert alert alert-dismissible bg-danger fade show" role="alert"
                                        style="color: white;">
                                        <strong>Error!</strong> Please check your file and try again.
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    {% endif  %}
                                </form>

                                <!--Admin Section End-->

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                        <!-----------Civil Content START------------>

                        <div class="row">
                            <div class="col-sm-8">
                                
                                <br>                                
                                <h5 style="color:brown">Structure Info</h5>
                                <form method="POST">	{% csrf_token %}
                                    <div class="form-group row">
                                        <label for="colFormLabel" class="col-sm-2 col-form-label">Structure Type</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="colFormLabel" placeholder="{{st_type}}" disabled>
                                        </div>
                                        <label for="colFormLabel" class="col-sm-2 col-form-label">Height</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="colFormLabel" placeholder="{{height}}" disabled>
                                        </div>
                                        <label for="colFormLabel" class="col-sm-2 col-form-label">Grillage</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="colFormLabel" placeholder="{{grillage}}" disabled>
                                        </div>
                                        <label for="colFormLabel" class="col-sm-2 col-form-label">Anchoring</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="colFormLabel" placeholder="{{anchoring}}" disabled>
                                        </div>
                                        <label for="colFormLabel" class="col-sm-2 col-form-label">Building</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="colFormLabel" placeholder="{{building}}" disabled>
                                        </div>
                                    </div>
                                </form>
                                <h5 style="color:brown">Technical Office Info</h5>
                                <form method="POST">	{% csrf_token %}
                                    <div class="form-group row">
                                        <label for="colFormLabel" class="col-sm-2 col-form-label">New Request Details</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="colFormLabel" placeholder="{{new_requirement_details}}" disabled>
                                        </div>
                                        <label for="colFormLabel" class="col-sm-2 col-form-label">Project Name</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="colFormLabel" placeholder="{{project_name}}" disabled>
                                        </div>
                                        <label for="colFormLabel" class="col-sm-2 col-form-label">Site Status</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="colFormLabel" placeholder="{{site_status}}" disabled>
                                        </div>
                                        <label for="colFormLabel" class="col-sm-2 col-form-label">Consultant Recommendation</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="colFormLabel" placeholder="{{Consultant_recommendations}}" style="background-color:{% if remove_order != 'No' and remove_order != None %}red{% endif %};" disabled>
                                        </div>
                                        <label for="colFormLabel" class="col-sm-2 col-form-label">Remarks</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="colFormLabel" placeholder="{{remarks}}" disabled>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-4">
                                <br>
                                <div class="mapouter">
                                    <div class="gmap_canvas"><iframe width="500" height="750" id="gmap_canvas"
                                            src="{{map}}" frameborder="0" scrolling="no" marginheight="0"
                                            marginwidth="0"></iframe><a
                                            href="https://www.embedgooglemap.net/blog/elementor-review/">elementor pro
                                            pack</a></div>
                                    <style>
                                        .mapouter {
                                            position: relative;
                                            text-align: right;
                                            height: 750px;
                                            width: 500px;
                                        }

                                        .gmap_canvas {
                                            overflow: hidden;
                                            background: none !important;
                                            height: 750px;
                                            width: 500px;
                                        }
                                    </style>
                                </div>
                                <br>
                                <!--Admin Section Start-->

                                <h5>Admin Controls</h5>
                                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" name="myfile" class="custom-file-input" id="file_input"
                                                oninput="input_filename();" accept="excel/*" required>
                                            <label class="custom-file-label" for="file_input" name="myfile"
                                                id="file_input_label">Select file</label>
                                        </div>
                                    </div>
                                    <button class="btn btn-outline-primary my-2 my-sm-2" name="crq_update"
                                        type="submit">Update Database</button>
                                    {% if risk_msg == "submit" %}
                                    <!--Submitted serial-->
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <strong>Success!</strong> Database is updated successfully.
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    {% elif risk_msg == "exist" %}
                                    <!--Error-->
                                    <div class="alert alert alert-dismissible bg-danger fade show" role="alert"
                                        style="color: white;">
                                        <strong>Error!</strong> Please check your file and try again.
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    {% endif  %}
                                </form>

                                <!--Admin Section End-->

                            </div>
                        </div>
                    </div>
                    <!-----------Power Content START------------>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                        
                        <div class="row">
                            <div class="col-sm-8">
                                
                                <br>
                                <h5 style="color:brown">General Info</h5>
                                <form method="POST"> {% csrf_token %}
                                    <div class="form-group row">
                                        <label for="colFormLabel" class="col-sm-2 col-form-label">SiteID</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="colFormLabel" placeholder="{{site_id}}"
                                                disabled>
                                        </div>
                                        <label for="colFormLabel" class="col-sm-2 col-form-label">Option</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="colFormLabel" placeholder="{{option}}"
                                                disabled>
                                        </div>
                                        <label for="colFormLabel" class="col-sm-2 col-form-label">Region</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="colFormLabel" placeholder="{{region}}"
                                                disabled>
                                        </div>
                                        
                                    </div>
                                </form>
                                <h5 style="color:brown">Power Overview</h5>
                                <form method="POST"> {% csrf_token %}
                                    <div class="form-group row">
                                        <label for="colFormLabel" class="col-sm-2 col-form-label">Power Consumption</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="colFormLabel"
                                                placeholder="{{PowerConumption|floatformat:'0'}}" disabled>
                                        </div>
                                        <label for="colFormLabel" class="col-sm-2 col-form-label">Generated Power</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="colFormLabel"
                                                placeholder="{{Generated_Power|floatformat:'0'}}" disabled>
                                        </div>
                                        <label for="colFormLabel" class="col-sm-2 col-form-label">Power Utilization</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="colFormLabel"
                                                placeholder="{{utilization}}" disabled>
                                        </div>
                                        <label for="colFormLabel" class="col-sm-2 col-form-label">Site Type</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="colFormLabel"
                                                placeholder="{{site_type}}" disabled>
                                        </div>
                                    </div>
                                </form>
                                <h5 style="color:brown">Power Info</h5>
                                <form method="POST"> {% csrf_token %}
                                    <div class="form-group row">
                                        <label for="colFormLabel" class="col-sm-2 col-form-label">Cabinet Type</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="colFormLabel"
                                                placeholder="{{cabinets_type}}" disabled>
                                        </div>
                                        <label for="colFormLabel" class="col-sm-2 col-form-label">Number of Cabinets</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="colFormLabel"
                                                placeholder="{{Cabinet_num}}" disabled>
                                        </div>
                                        <label for="colFormLabel" class="col-sm-2 col-form-label">System Voltage</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="colFormLabel"
                                                placeholder="{{System_Voltage|floatformat:'0'}}" disabled>
                                        </div>
                                        <label for="colFormLabel" class="col-sm-2 col-form-label">Power Cabinet type</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="colFormLabel"
                                                placeholder="{{Power_Cabinet}}" disabled>
                                        </div>
                                        <label for="colFormLabel" class="col-sm-2 col-form-label">Rectifier Count</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="colFormLabel"
                                                placeholder="{{Rect_Count|floatformat:'0'}}" disabled>
                                        </div>
                                        <label for="colFormLabel" class="col-sm-2 col-form-label">Battery Type</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="colFormLabel"
                                                placeholder="{{Battery_Type}}"
                                                style="background-color:{% if remove_order != 'No' and remove_order != None %}red{% endif %};"
                                                disabled>
                                        </div>
                                        <label for="colFormLabel" class="col-sm-2 col-form-label">Battery Count</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="colFormLabel"
                                                placeholder="{{Bat_Count|floatformat:'0'}}" disabled>
                                        </div>
                                    </div>
                                </form>
                                
                                
        
                            </div>
                            <div class="col-sm-4">
                                <br>
                                <div class="mapouter">
                                    <div class="gmap_canvas"><iframe width="500" height="750" id="gmap_canvas" src="{{map}}"
                                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                                            href="https://www.embedgooglemap.net/blog/elementor-review/">elementor pro pack</a>
                                    </div>
                                    <style>
                                        .mapouter {
                                            position: relative;
                                            text-align: right;
                                            height: 750px;
                                            width: 500px;
                                        }
        
                                        .gmap_canvas {
                                            overflow: hidden;
                                            background: none !important;
                                            height: 750px;
                                            width: 500px;
                                        }
                                    </style>
                                </div>
        
                                <!--Admin Section Start-->
        
                                <h5>Admin Controls</h5>
                                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" name="myfile" class="custom-file-input" id="file_input"
                                                oninput="input_filename();" accept="excel/*" required>
                                            <label class="custom-file-label" for="file_input" name="myfile"
                                                id="file_input_label">Select file</label>
                                        </div>
                                    </div>
                                    <button class="btn btn-outline-primary my-2 my-sm-2" name="crq_update"
                                        type="submit">Update Database</button>
                                    {% if pwr_admin_msg == "success" %}
                                    <!--Success message-->
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <strong>Success!</strong> Database is updated successfully.
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
        
                                    {% elif pwr_admin_msg == "error" %}
                                    <!--Error message-->
                                    <div class="alert alert alert-dismissible fade show" role="alert"
                                        style="background-color: rgb(247, 48, 48); color: white;">
                                        <strong>Error!</strong> Please check your file and try again.
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    {% endif  %}
                                </form>
        
                                <!--Admin Section End-->
                            </div>
                        </div>

                    </div>
                </div>
                    

                <!-----------Core Content END------------>
            </div>
            <!--core content End-->
        </div>
    </div>
    
    <!--full screen container END-->

    <!-- Optional JavaScript -->

    <script>

        var input = document.getElementById("file_input")
        var file_input_label = document.getElementById("file_input_label")
        function input_filename(){
            file_input_label.innerText = input.files[0].name;
        }
        function upload() {   
            var file = input.files[0];        
            var filename = file.name;
            data.append('file', file);            
        } 
        function reset() {  
            file_input_label.innerText = "Select file";
        }

    </script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    
    <!--custom jquery-->
    
    <script src="../static/jquery/jquery.js"></script>
    <script>
        $(window).on("load", function () {
            $(".spinner-border").fadeOut("slow")
        });
    </script>

    <!--custom jquery END-->

</body>

</html>

