<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='icon' href='../static/img/favicon.ico' type='image/x-icon' />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <title>PKI Tool</title>

</head>

<body>

    <div class="container-fluid">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">RO PLATFORM</a>
            <div class="spinner-border text-light" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="">
                <h3 style="color: white">PKI Search/Add Engine</h3>
            </div>

            <form class="form-inline">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Logout</button>
                <a href="https://web.vodafone.com.eg/en/home" target="_blank"><img src="../static/img/logo.png" width="60" height="45" class="d-inline-block align-top" alt="vf"></a>
            </form>
        </nav>
    </div>

    <!--nav bar End-->


    <!--Main Row which is the full screen container-->

    <div class="row">
        <div class="col-12">

            <!--the row which holds the rest of the screen content (core content)-->

            <div class="row">
                <div class="col-2">
                    <div class="container-fluid">
                        <div class="list-group">
                            <button type="button" class="list-group-item list-group-item-action" disabled>Welcome {{username}}</button>
                            <button type="button" onclick="window.location.href='/dashboard/'" class="list-group-item list-group-item-action" disabled>Dashboard</button>
                            <button type="button" onclick="window.location.href='/query/'" class="list-group-item list-group-item-action" disabled>Query</button>
                            <button type="button" onclick="window.location.href='/tp/'" class="list-group-item list-group-item-action" disabled>Technical Plan</button>
                            <button type="button" onclick="window.location.href='/int_quota/'" class="list-group-item list-group-item-action" disabled>Integration Quota</button>
                            <button type="button" onclick="window.location.href='/site_history/'" class="list-group-item list-group-item-action">Site History</button>
                            <button type="button" onclick="window.location.href='/contract_renegotiation/'" class="list-group-item list-group-item-action">Contract Renegotiation</button>
                            <button type="button" onclick="window.location.href='/site_continuity_risk/'" class="list-group-item list-group-item-action">Site Continuity</button>
                            <button type="button" onclick="window.location.href='/pki/'" class="list-group-item list-group-item-action active"><strong>PKI Search/Add</strong></button>
                            <button type="button" onclick="window.location.href='/scl/'" class="list-group-item list-group-item-action" disabled>Smart Check-List</button>
                            <button type="button" onclick="window.location.href='/cont_eval/'" class="list-group-item list-group-item-action" disabled>Contractor Evaluation</button>
                            <button type="button" onclick="window.location.href='/cont_alloc/'" class="list-group-item list-group-item-action" disabled>Contractor Allocation</button>
                            <button type="button" onclick="window.location.href='/field_plan/'" class="list-group-item list-group-item-action" disabled>Field Planning</button>
                            <button type="button" onclick="window.location.href='/rca_acc/'" class="list-group-item list-group-item-action" disabled>RCA Acceptance</button>
                            <button type="button" onclick="window.location.href='/rca_nfm/'" class="list-group-item list-group-item-action" disabled>RCA NFM</button>
                            <button type="button" onclick="window.location.href='/civ_tech_off/'" class="list-group-item list-group-item-action" disabled>Civil Technical Office</button>
                            <button type="button" onclick="window.location.href='/uni_pwr/'" class="list-group-item list-group-item-action" disabled>Unified PWR DB</button>n" onclick="href='/uni_pwr/'" class="list-group-item list-group-item-action" disabled>Unified PWR DB</button>
                        </div>
                    </div>
                </div>

                <!--core content section-->

                <div class="col-10">

                    <div class="row">

                        <!--single search / Add section-->

                        <div class="col-5">
                            <br>

                            <!--Single Search-->
                            <h5>Search for a Single serial here:</h5><br>
                            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                                <input class="form-control mr-sm-2" type="search" name="single_serial" placeholder="Enter PKI Serial Number" aria-label="Search" required>
                                <button class="btn btn-primary my-2 my-sm-2" name="single_search" type="submit">Search</button>
                            </form>


							{% if ss_js == "exist" %}
                            <!--Exist msg-->
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                The Serial already {{ss_result}}.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% elif ss_js == "not_exist" %}
                            <!--Not Exist msg-->
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>Sorry!</strong> This Serial number does not exist in PKI Server.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endif  %}
                            <br><br>
                            <!--Single add-->
                            <h5>Request to add Single serial here:</h5><br>
                            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                                <input class="form-control" type="text" name="site_id" placeholder="Site ID" maxlength="6" required>
                                <select class="form-control" name="vendor" required>
                                    <option>Select Vendor</option>
                                    <option>ericsson</option>
                                    <option>huawei</option>
                                </select>
                                <input class="form-control" type="text" name="serial" placeholder="Serial No." required>
                                <input class="form-control" type="text" name="activity" placeholder="Activity" required>
                                <select class="form-control" name="region" required>
                                    <option>Select Region</option>
                                    <option>Cairo</option>
                                    <option>Giza</option>
                                    <option>Delta</option>
                                    <option>Alex</option>
                                    <option>Upper</option>
                                    <option>L1</option>
                                </select>
                                <select class="form-control" name="function">
                                    <option>Select Function</option>
                                    <option>Rollout</option>
                                    <option>Imp</option>
                                    <option>IBS</option>
                                    <option>L1</option>
                                    <option>Radio</option>
                                </select>
                                <select class="form-control" name="request_type">
                                    <option>Request Type</option>
                                    <option>Add</option>
                                    <option>Remove</option>
                                </select>
                                <button class="btn btn-primary my-2 my-sm-2" name="single_add" type="submit">Request to Add</button>
                            </form>
                            
                            {% if sa_js == "submit" %}
                            <!--Submitted serial-->
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>Submitted!</strong> Your request is submitted and an e-mail will be sent soon for CRQ no.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
							
							{% elif sa_js == "exist" %}
                            <!--Exist-->
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>Please Check again!</strong> The Serial already {{sa_result}}.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
							{% endif  %}
                        </div>

                        <!--single search / Add section END-->

                        <!--batch search section-->

                        <div class="col-5 ml-5">
                            <br>
                            <h5>Batch Search & and Request serial addition here:</h5><br>
                            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" name="myfile" class="custom-file-input" id="file_input" oninput="input_filename();" accept="excel/*" required>
                                        <label class="custom-file-label" for="file_input" id="file_input_label">Select file</label>
                                    </div>
                                </div>
                                
                                <button class="btn btn-primary my-2 my-sm-2" name="batch_add" type="submit" id="upload_btn">Upload File</button>
                                
                                <a class="btn btn-outline-primary my-2 my-sm-2" href='../static/Sample_Template/PKI_template.xlsx'>Download Excel Template</a>
                                {% if ba_js == "correct" %}
                                <!--Template correct-->
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <strong>Success!</strong> If you want to download the result <a href="{{result_xls}}">Click here</a>.
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
								{% elif ba_js == "incorrect" %}
                                <!--Template correct-->
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>Error!</strong> Please check your template and try again.
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
								{% endif  %}
                            </form>
                            
                            <!--batch search section END-->

                            <br><br>
                            <br><br>
                            <br><br>
                            <br><br>
                            <br><br>
                            <br><br>
                            
                            <!--Admin buttons section START-->
                            <h5>Administrator</h5>

                            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" name="crqfile" class="custom-file-input" id="file_input"
                                            oninput="input_filename();">
                                        <label class="custom-file-label" for="file_input" id="file_input_label">Select CRQ file</label>
                                    </div>
                                </div>
                                <button class="btn btn-outline-primary my-2 my-sm-2" name="crq_update" type="submit">Update CRQs</button>
                                {% if admin_result == "correct" %}
                                <h6 class="d-inline text-secondary">&nbsp;&nbsp; Success.</h6>
                                {% endif %}
                            </form>    
                            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" name="myfile" class="custom-file-input" id="file_input"
                                            oninput="input_filename();">
                                        <label class="custom-file-label" name="myfile" for="file_input" id="file_input_label">Select DB update file</label>
                                    </div>
                                </div>    
                                <button class="btn btn-outline-primary my-2 my-sm-2" name="src_update" type="submit">Update SRC DB</button>
                                <button class="btn btn-outline-primary my-2 my-sm-2" name="admin_batch_add" type="submit">Update Interaction DB</button>
                                <a class="btn btn-outline-primary my-2 my-sm-2" href='../static/Sample_Template/inter_DB_reqtype222.xlsx'>Download Inter DB Template</a>
                                
                                <h6 class="d-inline text-secondary">&nbsp;&nbsp; {{update_src_db_result}}.</h6>
                            
                            <br>    
                            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                                <button type="button" onclick="window.location.href='/export/requested/'" class="btn btn-outline-primary my-2 my-sm-2">Export Requests</button>
                                <button type="button" onclick="window.location.href='/export/all/'" class="btn btn-outline-primary my-2 my-sm-2">Export All Inter DB</button>
                            </form>
                            

                            <!--Admin buttons section END-->

                        </div>
                        
                        

                    </div>

                </div>

            </div>
        </div>

        <!--core content End-->

    </div>

    <!--<div class="container-fluid">
        <nav class="navbar navbar-dark bg-danger">
            <h6 style="color: white">RO Development Team.</h6>
        </nav>
    </div>-->

    <!--full screen container END-->

    <!--Font Awsome-->
    <script src="https://kit.fontawesome.com/4eac5aef8d.js" crossorigin="anonymous"></script>

    <!-- Optional JavaScript -->

    <script>
        var progress = document.getElementById("progress")
        var progress_wrapper = document.getElementById("progress_wrapper")
        var progress_status = document.getElementById("progress_status")

        var upload_btn = document.getElementById("upload_btn")
        var loading_btn = document.getElementById("loading_btn")

        var input = document.getElementById("file_input")
        var file_input_label = document.getElementById("file_input_label")


        function input_filename(){

            file_input_label.innerText = input.files[0].name;
        }

        function upload() {
            
            var data = new FormData();
            var Request = new XMLHttpRequest();
            request.responseType = "json";
            input.disabled = true;
            upload_btn.classList.add("d-none");
            loading_btn.classList.remove("d-none");
            progress_wrapper.classList.remove("d-none");

            var file = input.files[0];
            var filename = file.name;
            var filesize = file.size;
            document.cookie = 'filesize=${filesize}';

            data.append('file', file);

            request.upload.addEventListner('progress', function(e){

                var loaded = e.loaded;
                var total = e.total;
                                                            
                var percentage_complete = (loaded / total) * 100;
                            
                progress.setAttribute("style", 'width: ${Math.floor(percentage_complete)}% uploaded');
                progress_status.innerText = '${Math.floor(percentage_complete)}% uploaded';

                }
            )

            reques.addEventListner("load", function (e) {
                if(request.status == 200){
                    show_alert('${request.response.message}', "success");

                }

                else {

                    show_alert('${request.response.message}', "danger");

                }

                reset();
                
            })

            request.addEventListner("error", function (e) {
                reset();
                show_alert("Error Uploading file", "danger");
                
            })

            request.open("POST");
            request.send(data);


        } //End Upload

        function reset() {

            input.value = null;
            loading_btn.classList.add("d-none");
            upload_btn.classList.remove("d-none");
            progress_wrapper.classList.add("d-none");
            progress.setAttribute("style", "width: 0%");
            file_input_label.innerText = "Select file";

            
        }


    </script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src=""></script>

    <!--custom jquery-->

    <script src="../static/jquery/jquery.js"></script>
    <script>
        $(window).on("load", function() {
            $(".spinner-border").fadeOut("slow")
        });
    </script>


    <!--custom jquery END-->

</body>

</html>